{{ $serverConfig := env "SERVER_CONFIG"}}
{{ $traefikPeers := env "TRAEFIK_PEERS"}}
{{ $traefikPeersOld := env "TRAEFIK_PEERS_OLD"}}
{{ $baseFqdn := env "BASE_FQDN"}}

{{ $traefikPeers = splitList "," $traefikPeers}}
{{ $traefikPeersOld = splitList "," $traefikPeersOld}}
{{ $serverConfig = splitList "%" $serverConfig}}

http:
  routers:
  {{range $traefikPeers }}
    router-{{ . }}:
      entryPoints:
        - websecure
      rule: "HostRegexp(`{subdomain:[a-z0-9]+}.{{ . }}.{{ $baseFqdn }}`)"
      service: service-traefik-{{ . }}
  {{end}}

  {{range $serverConfig }}
    {{ $server := splitn "," 3 .}}
    router-{{ $server._0 }}:
      entryPoints:
        - websecure
      rule: "Host(`{{ $server._0 }}.{{ $baseFqdn }}`)"
      {{ if ne $server._2 "false"}}middlewares: google-auth{{ end }}
      service: {{ if contains "http" $server._1 }}service-{{ $server._0 }}{{ else }}{{ $server._1 }}{{ end }}
  {{end}}

  services:
  {{range $traefikPeers }}
    service-traefik-{{ . }}:
      loadBalancer:
        servers:
          - url: http://traefik-{{ . }}/
  {{end}}
  {{range $serverConfig }}
    {{ $server := splitn "," 3 .}}
    {{if contains "http" $server._1}}
    service-{{ $server._0 }}:
      loadBalancer:
        {{ if contains "https://" $server._1 }}serversTransport: insecureTransport{{ end }}
        servers:
          - url: {{ $server._1 }}
    {{end}}
  {{end}}

  middlewares:
    google-auth:
      forwardAuth:
        address: "http://traefik-forward-auth:4181"
        trustForwardHeader: true
        authResponseHeaders: "X-Forwarded-User"
tcp:
  routers: {{range $traefikPeersOld }}
    traefik-router-{{ . }}:
      entrypoints:
        - "websecure"
      rule: HostSNIRegexp(`{subdomain:[a-z]+}.{{ . }}.{{ $baseFqdn }}`)
      tls:
        passthrough: true
      service: service-traefik-{{ . }}
    {{end}}
  services: {{range $traefikPeersOld }}
    service-traefik-{{ . }}:
      loadBalancer:
        servers:
          - address: traefik-{{ . }}:443
    {{end}}

